body {
  background-color: lightgrey;
  font-family: arial;
  padding: 2.5px;
}

.center {
  text-align: center
}

.title {
  font-size: 200%;
}

#outerdiv {
  margin: auto;
  width: 60%;
  /* border-radius: 25px; */
}

#innerdiv {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-top: 25px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: white;
  }

  #outerdiv {
    width: 100%;
    border-radius: 0px;
  }

  #innerdiv {
    padding: 10px;
  }
}

/* Start --> copied from http://nicolasgallagher.com/pure-css-folded-corner-effect/ and edited */
@media only screen and (min-width: 600px) {
  .note {
    position: relative;
    width: 30%;
    padding: 1em 1.5em;
    margin: 2em auto;
    color: #000;
    background: white;
    overflow: hidden;
  }

  .note:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0 32px 32px 0;
    border-style: solid;
    border-color: lightgrey lightgrey #fff #fff;
    background: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
    /* Firefox 3.0 damage limitation */
    display: block;
    width: 0;
  }

  .note.rounded {
    -moz-border-radius: 5px 0 5px 5px;
    border-radius: 5px 0 5px 5px;
  }

  .note.rounded:before {
    border-width: 8px;
    border-color: #fff #fff transparent transparent;
    -moz-border-radius: 0 0 0 5px;
    border-radius: 0 0 0 5px;
  }
}

/* End */
