body {
  background-color: lightgrey;
  font-family: arial;
  padding: 2.5px;
}

.center {
  text-align: center
}

.title {
  font-size: 200%;
}

#outerdiv {
  background-color: white;
  margin: auto;
  width: 60%;
  /* border-radius: 25px; */
}

#innerdiv {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-top: 25px;
}

@media only screen and (max-width: 650px) {
  body {
    background-color: white;
  }
  #outerdiv {
    width: 100%;
    border-radius: 0px;
  }
  #innerdiv {
    padding: 10px;
  }
}
