<!DOCTYPE HTML>
<html>

<head>
  <style>
    body {
      background-color: lightgrey;
    }

    #title {
      text-align: center
    }

    #outerdiv {
      background-color: white;
      margin: auto;
      width: 50%;
    }

    #innerdiv {
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 50px;
      padding-top: 25px;
    }
  </style>
</head>

<body>
  <div id="outerdiv">
    <div id="innerdiv">
      <h1 id="title">{{ post.title }}</h1>
      <hr>
      {{ post.body }}
    </div>
  </div>
</body>

</html>
