<!DOCTYPE HTML>
{% load static %}

<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'posts/style.css' %}">
</head>

<body>
  <div id="outerdiv" class="note">
    <div id="innerdiv">
      <h1 class="center">Menu principal</h1>
      <a href="/posts">Aller à l'index</a>
      <hr>
      {% if latest_posts_list %}
        <p>Derniers posts:</p>
        <ul>
          {% for post in latest_posts_list %}
            <li><a href="/posts/{{ post.id }}/">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      {% else %}
        <p>Aucun post récent</p>
      {% endif %}
    </div>
  </div>
</body>

</html>
